@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

textarea{
  min-height: 5lh;
  max-height: 10lh;
  resize:none;
  border-bottom: solid 0.5px lightgray ;
  outline: none;
}

.none{
  display: none;
}

.mounted{
  display: block !important;
}
